<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <% users.forEach(function(user) { %>
    <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.email %></td>
        <td>
            <form action="/delete/<%= user.id %>" method="POST" style="display:inline">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    <% }) %>
</table>
