<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit Person</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Updating Data</h1>
            </div>
            <div class="card-body">
                <!-- Form Edit Data -->
                <form action="/edit/<%= person.id %>" method="POST" class="add-form">
                    <div class="inline-form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="<%= person.name %>"
                            placeholder="Insert your name" required>
                    </div>

                    <div class="inline-form-group">
                        <label for="height">Height (cm)</label>
                        <input type="number" id="height" name="height" value="<%= person.height %>"
                            placeholder="Insert your height"required>
                    </div>

                    <div class="inline-form-group">
                        <label for="weight">Weight (kg)</label>
                        <input type="number" id="weight" name="weight" value="<%= person.weight %>"
                            placeholder="Insert your weight" step="0.01" required>
                    </div>

                    <div class="inline-form-group">
                        <label for="birthdate">Birth Date</label>
                        <input type="date" id="birthdate" name="birthdate" value="<%= person.birthdate %>" required>
                    </div>

                    <div class="inline-form-group">
                        <label>Is Married</label>
                        <label>
                            <input type="radio" name="isMarried" value="0" <%=person.married===0 ? 'checked' : '' %>
                            required>
                            Not Yet
                        </label>
                        <label>
                            <input type="radio" name="isMarried" value="1" <%=person.married===1 ? 'checked' : '' %>>
                            Yes
                        </label>
                    </div>


                    <div class="form-buttons">
                        <button type="submit">Save</button>
                        <button type="button" class="cancel-link" onclick="window.location.href='/'">Cancel</button>
                    </div>
            </div>
        </div>
    </div>
    </form>
</body>

</html>